:host {
  user-select: none;
}

.titleBar {
  width: 100%;
  height: 40px;
  background-color: #1976d2;
  color: white;
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

button:hover {
  background-color: #2196f3;
}

.button-content {
  display: flex;
  flex-direction: row;
  align-items: top;
}

.button-icon {
  margin: 7px 7px 5px 0px;
}

#theme-setting {
  position: relative;
  height: 50px;
}

#theme-picker {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;

  mat-button-toggle {
    flex-grow: 1;
    height: 50px;
  }
}

#titleBarContent {
  position: relative;
  z-index: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-left: 10px;
}

/**
  Mac specific styles
  Space for the traffic lights
*/
#titleBarContent.mac {
  margin-left: 70px;
}

/**
  Windows specific styles
  Space for the window controls
*/
#titleBarContent.win {
  margin-left: 5px;
  margin-right: 140px;
}

/**
  Linux specific styles
  Remove the title - the window will have a separate title bar with the title in it already
*/

.linux #titlebarTitle {
  display: none;
}

/**
  The right buttons are positioned absolutely to the right of the title bar.
  We can't use flexbox for this because the buttons are broken - the icons cause the mouse events to be lost.
*/

#right-buttons{
  position: absolute;
  right: 0;
}


/**
  The title and badge
*/
#titlebarTitle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 150px;
  right: 150px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
}

#title-badge {
  padding: 5px;
  font-size: 11px;
  background-color: #575757;
  border-radius: 7px;
  text-transform: uppercase;
  margin-left: 5px;
}
