<div class="titleBar" role="banner">
  <div id="titlebarTitle">
    {{ title }}
  </div>
  <div id="titleBarContent" [class]="getPlatformClass()">
    <button
      mat-icon-button
      aria-label="Home"
      *ngIf="showHomeButton()"
      (click)="goHome()"
    >
      <span class="material-icons">home</span>
    </button>
    <div id="right-buttons">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Menu"
        *ngIf="showMenuButton()"
      >
        <span class="material-icons">more_vert</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="reloadCustomPlugins()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">sync</span>
            </div>
            <div class="button-text">
              <span>Reload custom plugins</span>
            </div>
          </div>
        </button>
        <button mat-menu-item (click)="showLogs()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">table_rows</span>
            </div>
            <div class="button-text">
              <span>View logs</span>
            </div>
          </div>
        </button>
        <button mat-menu-item disabled>
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">settings</span>
            </div>
            <div class="button-text">
              <span>Settings</span>
            </div>
          </div>
        </button>
        <hr />
        <button mat-menu-item (click)="showAbout()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">info</span>
            </div>
            <div class="button-text">
              <span>About {{ title }}</span>
            </div>
          </div>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
