<div [class]="'titleBar ' + getPlatformClass()" role="banner">
  <div id="titlebarTitle">
    {{ title }}
    <span id="title-badge">Alpha</span>
  </div>
  <div id="titleBarContent" [class]="getPlatformClass()">
    <button
      mat-icon-button
      aria-label="Home"
      *ngIf="showHomeButton()"
      (click)="goHome()"
    >
      <span class="material-icons">home</span>
    </button>
    <div id="right-buttons">
      <button
        mat-icon-button
        aria-label="Bug Report"
        (click)="openGithubIssues()"
      >
        <span class="material-icons">bug_report</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <span class="material-icons">more_vert</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openCustomPluginDocs()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">construction</span>
            </div>
            <div class="button-text">
              <span>Build your own plugins</span>
            </div>
          </div>
        </button>
        <button mat-menu-item (click)="reloadCustomPlugins()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">sync</span>
            </div>
            <div class="button-text">
              <span>Reload custom plugins</span>
            </div>
          </div>
        </button>
        <hr />
        <button mat-menu-item (click)="showLogs()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">table_rows</span>
            </div>
            <div class="button-text">
              <span>View logs</span>
            </div>
          </div>
        </button>
        <button mat-menu-item disabled>
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">settings</span>
            </div>
            <div class="button-text">
              <span>Settings</span>
            </div>
          </div>
        </button>
        <div id="theme-setting">
          <mat-button-toggle-group id="theme-picker" name="theme" aria-label="Theme" [(ngModel)]="colorMode" (change)="onThemeChange()">
            <mat-button-toggle value="light">
              <div class="button-content">
                <div class="button-icon">
                  <span class="material-icons">light_mode</span>
                </div>
                <div class="button-text">Light</div>
              </div>
            </mat-button-toggle>
            <mat-button-toggle value="dark">
              <div class="button-content">
                <div class="button-icon">
                  <span class="material-icons">dark_mode</span>
                </div>
                <div class="button-text">Dark</div>
              </div>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <hr />
        <button mat-menu-item (click)="showAbout()">
          <div class="button-content">
            <div class="button-icon">
              <span class="material-icons">info</span>
            </div>
            <div class="button-text">
              <span>About {{ title }}</span>
            </div>
          </div>
        </button>
      </mat-menu>
    </div>
  </div>
</div>
