#header {
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    user-select: none;
}

#log-wrapper {
  max-height: calc(100% - 86px);
  overflow-y: auto;
}

#no-log-message {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-style: italic;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 86px);
  margin-left: auto;
  margin-right: auto;
}

.padding {
  flex-grow: 1;
}
