#container {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
}

#buttons {
  margin-bottom: 30px;
}

.custom-plugin {
  display: flex;
  align-items: center;
  justify-content: left;
}

.card-hint {
  font-style: italic;
}
.plugin-name {
  margin-right: 15px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

mat-icon {
  margin-right: 7px;
}

mat-card-title {
  display: flex;
  align-items: center;
}
