<div class="dialog">
    <div class="dialog-content">
        <div class="dialog-header">
            <h2>Error</h2>
        </div>
        <div class="dialog-body">
            <div class="dialog-body-content">
                <div class="dialog-body-content-icon">
                    <span class="material-icons" style="font-size: 50px; color: #f44336;">error</span>
                </div>
                <div class="dialog-body-content-text">
                    <p>{{data.text}}</p>
                </div>
            </div>
        </div>
        <div class="dialog-footer">
            <button mat-stroked-button [mat-dialog-close]="true">OK</button>
        </div>
    </div>
</div>