<div id="heading">
    <div id="app-name">Swish GUI</div>
    <div id="app-version">Version: {{version}}</div>
</div>
<div id="prerelease-warning">
    This is a prerelease version of Swish v2.
</div>
<div id="description">
    Swish is an awesome data manipulation tool which runs on your desktop, terminal, and in the browser.<br>
    Swish runs on JavaScript. This version is built with Electron and Angular. Plugin icons are from Material Design.<br>
</div>
<div id="swish-versions">
    <strong>This is just one of several apps built on the Swish platform, including:</strong>
    <ul>
        <li><strong>Swish Core:</strong> The raw experience of Swish. Runs in the terminal and is ready for anything.</li>
        <li><strong>Swish Clip:</strong> Runs in the background, always ready to manipulate your clipboard.</li>
        <li><strong>Swish GUI v1:</strong> The original.</li>
        <li><strong>Swish GUI v2:</strong> The next generation of Swish. &lArr; <em>This is what you're currently using</em>.</li>
        <li><strong>Swish Web:</strong> Hosted Swish experience. Host it somewhere you trust and Swish without even installing it.</li>
    </ul>
</div>
<div id="deprecation-notice">
    Please Note: Due to the changes made in Swish GUI v2, Swish Clip and Swish GUI v1 are not guaranteed to continue working with future plugins once Swish v2 is released.<br>
    Swish Core and Web will be updated as part of the Swish v2 release. Swish Clip and original GUI will continue to work with plugins built for Swish v1.<br>
</div>
<div id="footer">
    Made with 💜 in 🇳🇿
</div>
