/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-snackbar {
  background-color: rgb(236, 123, 123);
}

.warn-snackbar {
  background-color: rgb(236, 204, 124);
}

.info-snackbar {
  background-color: white;
}

.success-snackbar {
  background-color: rgb(120, 234, 120);
}

#breadcrumbs {
  margin-left: 35px;
  margin-top: 10px;
  color: #ccc;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
