/* styles.css */

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar {
    -webkit-app-region: drag
}

#plugin-search {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
}

#item-list{
    position: fixed;
    top: 64px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: scroll;
}

#item-list::-webkit-scrollbar {
    display: none;
}

/* Add styles here to customize the appearance of your app */
