
<form id="search-form">
  <mat-form-field class="search-box">
    <input #search matInput placeholder="Transformer Search" (input)="searchModified($event, search.value)">
  </mat-form-field>
</form>

<div id="fav-plugins-container">
  <div id="fav-plugins">
    <app-fav-plugin-item *ngFor="let plugin of favPlugins" [plugin]="plugin"></app-fav-plugin-item>
  </div>
  <div id="no-fav-plugins" *ngIf="favPlugins.length === 0">
    <div id="no-fav-plugins-heading">No favorites</div>
    <div id="no-fav-plugins-hint">You can add up to 5 transformers to your favorites - they appear here for easy access.</div>
  </div>
</div>

<div id="plugin-container">
  <div id="plugins">
    <app-plugin-item *ngFor="let plugin of plugins" [plugin]="plugin"></app-plugin-item>
  </div>
</div>
