#wrapper {
  height: calc(100% - 40px);
}

#search-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.search-box {
  width: 30%;
  height: 40px;
  text-align: center;
  font-size: 14pt;
}

#plugin-container {
  max-height: calc(100% - 140px);
  margin-top: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#plugins {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0px auto;
}

#tags {
  display: flex;
  flex-direction: row;
  margin: 30px auto 20px;
}

.tag {
  margin: 0px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  hyphens: none;
  white-space: nowrap;
  overflow:hidden;
}

.tag.selected {
  font-weight: bold;
}

.padding {
  flex-grow: 1;
}

.dark {
  background-color: #333;

  .tag {
    background-color: #222;
    color: #eee;
  }

  .tag.selected {
    background-color: #1976d2;
  }
}

.light {
  background-color: #efefef;

  .tag {
    background-color: #ddd;
    color: black;
  }

  .tag.selected {
    background-color: #1976d2;
    color: white;
  }
}

::ng-deep .dark {
  .mat-form-field-label {
    color: #ddd;
  }

  input {
    color: #ddd;
  }
}

::ng-deep .light {
  .mat-form-field-label {
    color: black;
  }
}

