/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  overflow: hidden;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-dialog-container {
  overflow: hidden !important;
}

/* Styles for snackbar*/
.error-snackbar {
  background-color: rgb(236, 123, 123);
}

.warn-snackbar {
  background-color: rgb(236, 204, 124);
}

.info-snackbar {
  background-color: white;
}

.success-snackbar {
  background-color: rgb(120, 234, 120);
}

/* Styles to make the mat tabs work properly */

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-body-active {
  overflow: hidden !important;
}

/* Styles for Markdown Tables */
markdown table {
  width: 100%;
}

markdown table, tr, th, td {
  border : thin solid black;
  border-collapse: collapse;
}

markdown th, td {
  padding: 5px;
}

markdown th {
  background-color: #aaa;
}

markdown pre {
  white-space: pre-wrap !important; // force code blocks to line wrap
}

markdown code {
  background-color: #eee;
  padding: 2px;
  border-radius: 2px;
}
