<div id="breadcrumbs"><a href="/">Swish</a> &gt; <a href="/custom-plugins">Custom Plugins</a> &gt; Create Plugin</div>

<div id="container">
  <h1>Create a plugin</h1>

  <div>
    File Name:
    <mat-form-field appearance="outline">
      <mat-label>Give your plugin file a name</mat-label>
      <input matInput [formControl]="filenameControl" >
      <mat-icon matSuffix>description</mat-icon>
    </mat-form-field>
  </div>

  <!-- I have no idea why it needs to be 50%, but I'm ignoring it for now -->
  <nu-monaco-editor [options]="editorOptions" height="450px" width="50%" (event)="showEvent($event)"></nu-monaco-editor>

  <div id="buttons">
    <button mat-raised-button color="primary" (click)="save()"><mat-icon>upload</mat-icon> Save</button>
  </div>
</div>
