#container {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border-width: thin;
  border-style: solid;
  overflow: hidden;
}

.dark {
  border-color: #444;
  background-color: #222;
}

.light {
  border-color: #ccc;
  background-color: #ddd;
}
