<div id="wrapper" [class]="theme" *ngIf="plugin">
  <div id="title">
    <div id="icon">
      <span class="material-icons">{{ getIcon() }}</span>
    </div>
    <div id="pluginDetails">
      <div id="pluginName">{{ plugin.name }}</div>
      <div id="pluginDescription">{{ plugin.description }}</div>
      <div id="tags">
        <div class="tag" *ngFor="let tag of plugin.tags">{{ tag }}</div>
        <div id="pluginId">{{ plugin.id }}</div>
        <div>
          <span class="material-icons plugin-type-icon" *ngIf="plugin.systemPlugin">api</span>
          <span class="material-icons plugin-type-icon" *ngIf="!plugin.systemPlugin">person</span>
        </div>
      </div>
    </div>
  </div>
  <div id="editors">
    <div id="input">
      <div class="panel-header">Input</div>
      <app-input-form #inputForm [plugin]="plugin" *ngIf="plugin.input?.type === 'form'"></app-input-form>
      <app-input-code #inputCode [language]="plugin.input?.syntax" *ngIf="plugin.input?.type !== 'form'"></app-input-code>
      <div id="buttons">
        <button mat-stroked-button color="primary" (click)="triggerRunPlugin()">
          <span class="material-icons">bolt</span> Run
        </button>
      </div>
    </div>
    <div id="output">
      <div class="panel-header">Output</div>
      <app-output #output></app-output>
    </div>
  </div>
</div>
