#wrapper {
  height: calc(100% - 65px);
}

.panel-header {
  font-size: 12pt;
  margin-bottom: 5px;
  text-align: center;
  user-select: none;
}

.plugin-type-icon {
  margin-top: 3px;
  font-size: 15pt;
}

#title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: thin solid #ddd;
  background-color: #ccc;
  padding: 15px;
  user-select: none;
}

#icon {
  user-select: none;
}

#icon .material-icons {
  font-size: 50px;
  padding: 10px;
  background-color: #ddd;
  border-radius: 40%;
}

#pluginDetails {
  margin-left: 10px;
}

#pluginName {
  font-weight: bold;
  font-size: 15pt;
  margin-top: 5px;
}

#pluginDescription {
  font-size: 10pt;
  margin-top: 3px;
  color: #444;
}

#tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  font-size: 8pt;
  margin: 3px 3px 3px 0px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 0px 5px;
  text-transform: lowercase;
}

#pluginId {
  font-family: monospace;
  font-size: 8pt;
  background-color: #eee;
  border-radius: 5px;
  margin: 3px 3px 3px 0px;
  padding: 0px 5px;
  user-select: all;
}

#editors {
  height: calc(100% - 121px);
  position: relative;
}

#input {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: calc(50% - 7px);
  padding-top: 10px;
  padding-left: 5px;
}

#output {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: calc(50% - 7px);
  padding-left: 10px;
  padding-top: 10px;
}

#buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
