<div *ngIf="plugin" >
  <div id="title">
    <div id="icon">
      <span class="material-icons">{{getIcon()}}</span>
    </div>
    <div id="pluginDetails">
      <div id="pluginName">{{plugin.name}}</div>
      <div id="pluginDescription">{{plugin.description}}</div>
      <div><span class="tag" *ngFor="let tag of plugin.tags">{{tag}}</span> <span id="pluginId">{{plugin.id}}</span></div>
    </div>
  </div>
  <div id="editors">
    <div id="input">
      <div class="panel-header">Input</div>
      <nu-monaco-editor
        #inputEditor
        [options]="inputEditorOptions"
        height="450px"
        width="100%"
        (event)="inputShowEvent($event)"
      ></nu-monaco-editor>
      <div id="buttons">
        <button mat-stroked-button color="primary" (click)="runPlugin()"><span class="material-icons">bolt</span> Run</button>
      </div>
    </div>
    <div id="output">
      <div class="panel-header">Output</div>
      <app-output-placeholder *ngIf="outputType === 'none'"></app-output-placeholder>
      <app-output-message #outputMessage *ngIf="outputType === 'message'"></app-output-message>
      <app-output-markdown #outputMarkdown [outputText]="outputText" *ngIf="outputType === 'markdown'"></app-output-markdown>
    </div>
  </div>
</div>
