#wrapper {
  height: calc(100% - 40px);
}

.panel-header {
  font-size: 12pt;
  margin-bottom: 5px;
  text-align: center;
  user-select: none;
}

.plugin-type-icon {
  margin-top: 3px;
  font-size: 15pt;
}

#title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  user-select: none;
  border-width: thin;
  border-style: solid;
}

#icon {
  user-select: none;
}

#icon .material-icons {
  font-size: 50px;
  padding: 10px;
  border-radius: 40%;
}

#pluginDetails {
  margin-left: 10px;
}

#pluginName {
  font-weight: bold;
  font-size: 15pt;
  margin-top: 5px;
}

#pluginDescription {
  font-size: 10pt;
  margin-top: 3px;
}

#tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tag {
  font-size: 8pt;
  margin: 3px 3px 3px 0px;
  border-radius: 5px;
  padding: 0px 5px;
  text-transform: lowercase;
}

#pluginId {
  font-family: monospace;
  font-size: 8pt;
  border-radius: 5px;
  margin: 3px 3px 3px 0px;
  padding: 0px 5px;
  user-select: all;
}

#editors {
  height: calc(100% - 145px);
  position: relative;
}

#input {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: calc(50% - 7px);
  padding-top: 10px;
  padding-left: 5px;
}

#output {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: calc(50% - 7px);
  padding-left: 10px;
  padding-top: 10px;
}

#buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Themes */

.light {
  #title {
    border-color: #ddd;
    background-color: #ccc;
  }

  #icon .material-icons {
    background-color: #ddd;
  }

  #pluginDescription {
    color: #444;
  }

  .tag {
    background-color: #444;
    color: #fff;
  }

  #pluginId {
    background-color: #ddd;
  }
}

.dark {
  background-color: #333;
  color: #fff;

  #title {
    background-color: #444;
    border-color: #555;
    color: #fff;
  }

  #pluginDescription {
    color: #ccc;
  }

  .tag {
    background-color: #222;
    color: #fff;
  }

  #pluginId {
    background-color: #555;
  }

  #icon .material-icons {
    background-color: #ccc;
    color: #333;
  }

  button {
    background-color: #555;
    border-color: #999;
    color: #ffc000;
  }
}
