<div id="container">
  <div id="editor" class="top-editor" *ngIf="plugin?.input?.includeEditor && plugin?.input?.editorPosition === 'top'">
    <nu-monaco-editor
      #editor
      class="editor"
      [options]="monacoOptions"
      height="100%"
      width="100%"
      (event)="editorShowEvent($event)"
      >
    </nu-monaco-editor>
  </div>
  <form [formGroup]="form" id="input-form">
    <div [class]="getFormFieldClass(field)" *ngFor="let field of plugin.input.fields">
      <label [class]="getLabelClass(field)">{{ getLabelText(field) }}</label>
      <mat-form-field class="field-input" *ngIf="field.type !== 'checkbox' && field.type !== 'label'">
        <ng-container [ngSwitch]="field.type">
          <mat-select [id]="field.key" [name]="field.label" [formControlName]="field.label" [placeholder]="field.placeholder" *ngSwitchCase="'select'">
            <mat-option *ngFor="let option of field.opts" [value]="option">{{ option }}</mat-option>
          </mat-select>
          <input matInput [type]="field.type" [id]="field.key" [name]="field.label" [placeholder]="field.placeholder" [formControlName]="field.label" *ngSwitchDefault/>
        </ng-container>
      </mat-form-field>
      <mat-checkbox class="field-input" [id]="field.key" [formControlName]="field.label" *ngIf="field.type === 'checkbox'"></mat-checkbox>
    </div>
  </form>
  <div id="editor" class="bottom-editor" *ngIf="plugin?.input?.includeEditor && plugin?.input?.editorPosition !== 'top'">
    <nu-monaco-editor
      #editor
      class="editor"
      [options]="monacoOptions"
      height="100%"
      width="100%"
      (event)="editorShowEvent($event)"
      >
    </nu-monaco-editor>
  </div>
</div>
