#container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 45px);
  background-color: white;
  border: thin solid lightgray;
  overflow-x: hidden;
  overflow-y: auto;
}

#editor {
  flex-grow: 1;
  min-height: 150px;
}

.top-editor {
  border-bottom: thin solid lightgray;
}

.bottom-editor {
  margin-top: 10px;
  border-top: thin solid lightgray;
}

#input-form {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.form-label {
  margin-left: 5px;
}

.form-label.heading {
  font-size: 12pt;
  font-weight: bold;
}

.form-field {
  display: grid;
  grid-template-columns: 100px 1fr; /* 150px for the label width */
  gap: 10px; /* Adjust the gap between the label and input */
  align-items: center;
}

.field-label {
  margin-left: 5px;
  flex: 1;
  flex-basis: 0;
  min-width: 100px;
  text-align: left;
  padding-right: 5px;
}

.field-input {
  flex-grow: 1;
  padding-left: 5px;
  margin-right: 20px;
}
