#container {
  height: calc(100% - 50px);
  border-width: 1px;
  border-style: solid;
}

.dark {
  border-color: #444;
  background-color: #222;
}

.light {
  border-color: #ccc;
  background-color: #ddd;
}
