:host {
  border: thin solid #ababab;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 5px 10px 5px;
  width: calc(25% - 40px);
  min-width: 200px;
  user-select: none;
  cursor: pointer;
}

.title {
  text-align: center;
  padding: 5px;
}

.plugin-icon {
  &.system-plugin {
    .material-icons {
      background-color: #1976d2;
      color: white;
    }
  }

  &.user-plugin {
    .material-icons {
      background-color: #4caf50;
      color: white;
    }
  }

  .material-icons {
    font-size: 30px;
    margin-right: 5px;
    padding: 15px;
    border-radius: 40%;
  }
}

.plugin-name {
  font-size: 13pt;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  color: #666;
  font-size: 9pt;
  padding: 5px 10px 10px 10px;
  height: 35px;
  //
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Maximum number of lines */
  overflow: hidden;
  text-overflow: ellipsis;
}

.material-icons {
  margin-right: 5px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.tags {
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 20px;
  max-width: calc(100% - 20px);
  overflow: hidden;
  flex-wrap: nowrap;
}

.tag {
  background-color: #e0e0e0;
  color: #666;
  margin: 0px 2px;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 8pt;
  text-transform: lowercase;
  flex-wrap: nowrap;
}

.padding {
  flex: 1;
}

.user-icon {
  font-size: 20px;
  margin-right: 5px;
}
