:host {
    user-select: none;
}

.spacer {
    flex: 1;
}

#container {
    position: absolute;
    padding: 15px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    border-width: thin;
    border-style: dashed;
    border-radius: 10px;
}

#icon {
    text-align: center;
}

#icon .material-icons {
    font-size: 50px;
    text-align: center;
}

#message {
    text-align: center;
}


.light {
  color: rgba(0,0,0,0.5);
  border-color: rgba(0,0,0,0.5)
}

.dark {
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.5)
}
