:host {
    user-select: none;
}

.spacer {
    flex: 1;
}

#container {
    position: absolute;
    padding: 15px;
    color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 35px;
    display: flex;
    flex-direction: column;
    border: thin dashed rgba(0,0,0,0.5);
    border-radius: 10px;
}

#icon {
    text-align: center;
}

#icon .material-icons {
    font-size: 50px;
    text-align: center;
}

#message {
    text-align: center;
}
