<div id="wrapper">
  <app-output-placeholder
    *ngIf="outputType === 'none'"
  ></app-output-placeholder>
  <app-output-message
    #outputMessage
    [text]="output.message.text"
    [level]="output.message.level"
    *ngIf="outputType === 'message'"
  ></app-output-message>
  <mat-tab-group headerPosition="below" *ngIf="outputType === 'tabs'">
    <ng-container *ngFor="let tab of tabs">
      <mat-tab [label]="tabName(tab)">
        <ng-template matTabContent>
          <app-output-markdown
            #outputMarkdown
            [outputText]="output.markdown"
            *ngIf="tab === 'markdown'"
          ></app-output-markdown>
          <app-output-code
            #outputCode
            [outputText]="output.text"
            [language]="output.syntax"
            *ngIf="tab === 'text'"
          ></app-output-code>
          <app-output-html
            #outputHtml
            [outputText]="output.html"
            *ngIf="tab === 'html'"
          ></app-output-html>
        </ng-template>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</div>
